.nombreEmp{
    display: inline-block;
    font-size: 18px;
  }
  .ubicacionEmp{
    display: inline-block;
    float: right;
    font-size: 18px;
  }
  .empresa{
    cursor: default;
    transition: 0.5s;
  }
  .empresa:hover{
    
    border: solid 1px black;
    padding: 4px;
  }
  .search{
    border-radius: 20px 20px 20px 20px;
    border-color: transparent;
    font-style: italic;
    width: 75%;
    margin-left: 5px;
  }
  hr{
    width: 240px;
  }
  .close{
    position: relative;
    float: right;
    border-radius: 50%;
    transition: 0.5s;
  }
  .close:hover{
    transition: 0.5s;
    transform: rotate(200grad);
  }

  .pad{
    padding-left: 40px;
  }

  .searchContain{
    width: 100%;
    border-radius:  30px 30px 30px 30px;
    border: solid 1px blue;
    padding: 2px;
  }
  .closeSearch{
    position: absolute;
    border-radius: 50%;
    background-color: white;
    padding: 0%;
    width: 5%;
    height:50%;
    left: 92%;
    top:25%;
    background-image: url('../img/close2.png');
    background-position:center; 
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
  }
  .closeSearch:hover{
    transition: 0.5s;
    box-shadow: 0 0 1px 1px;
  }

