
<div class="container" ng-controller="tableController">	
 <span class="close" style="" 
data-toggle="collapse" data-target="#collapseOne{{indice}}" aria-expanded="true" aria-controls="collapseOne{{indice}}"
 > X </span>
	
<h3 style="color: gray" >Datos de la Empresa  <img src="img/ico_company.png" width="50" height="30">  </h3>
	
<div class="row" >
	<div class="col col-lg-4 col-md-12 pad" >
		<strong >Nombre: </strong><span> {{deta.empresa.name}} </span>
	</div>

	<div class="col-lg-4 col-md-12 pad" >
		<strong >Telefono: </strong><span> {{deta.empresa.offices[0].phone}}</span>
	</div>

	<div class="col-lg-4 col-md-12 pad" > 
		<strong c>Pais: </strong><span> {{deta.empresa.offices[0].country}}</span>
	</div>
</div>
<br>
<br>
<!-- Products -->
<h3 style="color: gray">Productos  <img src="img/ico_products.png" width="50" height="30"></h3> 

<div class="row">
	<div class="col col-lg-4 col-md-6 pad" >
		<div ng-repeat="producto in deta.productos">
			<strong>{{producto.name}}</strong><span></span> <br>
		</div>
	</div>

</div>
<br>
<br>
<!-- Clients -->
<h3 style="color: gray">Clientes  <img src="img/ico_clients.png" width="50" height="30"></h3> 
<div class="row" ng-repeat="cliente in deta.cliente">
<!--div class="row"-->
	<div class="col col-sm-6 col-md-6 col-lg-4 pad" >
		<strong class="">Nombre: </strong><span>{{cliente.name}}</span> <br>
		<strong class="">Direccion: </strong><span>{{cliente.offices[0].address}}</span> <br>
	</div>
			
			<div class=" col-sm-6 col-md-6 col-lg-8" >
				<div class="row">
					
				<div class="col-12 col-lg-6 pad">
						<strong class="">Telefono: </strong><span>{{cliente.offices[0].phone}}</span>
				</div>

			
				<div class="col-12 col-lg-6 pad">
					<strong >Pais: </strong><span>{{cliente.offices[0].country}}</span>
				</div>
			
				</div>

			</div>
		
<hr class="offset-3">
	</div>
</div>

</div>
