<h2>Empresas</h2>
	<table class="table table-borderless" >
		<thead style="background-color: lightgray">
			<tr>
				<th class="text-left" style="font-size: 18px"> 
					<div class="text-left nombreEmp" >Nombre</div>
					<div class="text-right ubicacionEmp" >Ubicación</div>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="empresa in empresas | filter:search"  class="empresa" >
				<td>

				<div ng-click="mostrar($index ,empresa.id) ">

						<div id="accordion">
						    <div id="headingOne">
						      <h5 class="mb-0">
						        <div data-toggle="collapse" data-target="#collapseOne{{$index}}" aria-expanded="true" aria-controls="collapseOne{{$index}}">
						          <div class="nombreEmp">
						          							          		
						         	{{empresa.name}}
						          	
						          </div>
						          <div class="text-right ubicacionEmp">{{empresa.offices[0].country}}</div> 
						        </div>
						      </h5>
						    </div>
						    <div id="collapseOne{{$index}}" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
						      <div class="card-body">
						    
								<detalle deta="detalle"></detalle> 

						      </div>
						    </div>
			
						</div>
					</div>
					
				</td>
			</tr>
		</tbody>
	</table>

